#candle {
  & .hero {
    width: 100%;
    // width: 100svw;
    height: 50vh;
    height: 50svh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(../public/candle/CandleHero.webp);
  }

  & .candle-title {
    background: linear-gradient(91deg, #78a7f6 10.48%, #88d6e0 90.27%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & h4,
  h3,
  h5 {
    color: #2673f0;
  }
}
