#faq {
  .faq-container {
    h2 {
      margin-bottom: 2.5rem;
    }

    h5 {
      color: $cc-sand-600;
    }
  }

  .link-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 2.5rem auto;
    max-width: 20rem;

    background: $cc-primary-500;
    color: $cc-white;
    padding: 0.5rem 1rem;

    cursor: pointer;
    transition: $transition;
    span {
      line-height: 100%;
      font-size: $text-sm;
      text-transform: capitalize;
    }

    svg {
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 6px;

      animation: moving-arrow 2.5s ease infinite;
    }
  }
}

.question-container {
  .info-container {
    transition: $transition;
  }
}

@media screen and (min-width: $breakpoint-tablet-min) {
  #faq {
    .faq-container {
      padding: 5rem 0;

      // border: $border-basic;
      // border-radius: $border-radius-pill;

      // box-shadow: $shadow-3;

      transition: $transition;

      // &:hover {
      //   box-shadow: $shadow-4;
      // }
      h2 {
        text-align: center;
        margin-bottom: 3rem;
      }

      .link-about {
        padding: 0.75rem 1.25rem;
        max-width: 22.5rem;
        margin: 4rem auto 1.5rem;

        span {
          font-size: $text-rg;
        }
      }
    }
  }
}

@keyframes moving-arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    right: 8px;
  }

  40% {
    right: 16px;
  }

  60% {
    right: 12px;
  }
}

.faq-container {
  transform: translateY(200px);
  opacity: 0;

  transition: $transition;
}
