#gabriel {
  .hero {
    width: 100%;
    // width: 100svw;
    height: 50vh;
    height: 50svh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(../public/gabriel/banner2.webp);
  }
}
