#ganadara {
  .hero {
    width: 100%;
    // width: 100svw;
    height: 50vh;
    height: 50svh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(../public/gana/Ganadara-hero.webp);
  }

  hr {
    border-top: 1px solid $cc-grey-200;
  }

  h3,
  h4 {
    color: $cc-text-title;
    text-transform: capitalize;
  }
}

#gana-design-process {
  background: $cc-grey-100;

  p {
    color: $cc-grey-600;
  }
}
