/* ============= Local Font =============== */
@font-face {
  font-family: 'DTGetaiGroteskDisplay';
  src: url('./assets/fonts/DTGetaiGroteskDisplay-Black.otf') format('opentype'),
    url('./assets/fonts/DTGetaiGroteskDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  font-size: 100%; /* 16px */
}

body {
  box-sizing: border-box;
  background: $cc-background;
  max-width: 2560px;

  margin: 0 auto;

  font-family: $ff-main;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing;
  color: $cc-text-secondary;
  line-height: 160%;

  text-align: center;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h5 {
  margin: 0;

  font-weight: $font-weight-bold;
  text-transform: capitalize;
  line-height: 120%;

  color: $cc-text-title;

  overflow-wrap: break-word;
}

h1,
h2 {
  font-family: $ff-title;
}

h1 {
  font-size: clamp(1.75rem, 2.5vw, 2.5rem); /* Large heading */
  line-height: 140%;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(0.875rem, 1.5vw, 1.5rem); /* Tiny heading */
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: $text-sm;
}

a {
  text-decoration: none;
  color: $cc-text-blue;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.custom-container {
  padding-top: 5rem;
  padding-bottom: 5rem;

  // border: 1px solid red;
  margin: 0 auto;
}

@media screen and (min-width: $breakpoint-tablet-min) {
  .container {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}
