/* ============= Local Font =============== */
@font-face {
  font-family: 'DTGetaiGroteskDisplay';
  src: url('./assets/fonts/DTGetaiGroteskDisplay-Black.otf') format('opentype'),
    url('./assets/fonts/DTGetaiGroteskDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  font-size: 100%; /* 16px */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: $cc-background;
  max-width: 2560px;

  margin: 0 auto;

  font-family: $ff-main;
  font-weight: $font-weight-regular;
  letter-spacing: $letter-spacing;
  color: $cc-text-secondary;
  line-height: 160%;

  text-align: center;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
svg {
  width: 1.75rem;
  height: 1.75rem;
}

p {
  margin: 0;
  overflow-wrap: break-word;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  &::-moz-selection {
    background-color: $cc-secondary-300;
    color: $cc-primary-600;
  }
  &::selection {
    background-color: $cc-secondary-300;
    color: $cc-primary-600;
  }
}

h1,
h2,
h3,
h5 {
  margin: 0;

  text-transform: capitalize;
  line-height: 120%;

  color: $cc-text-title;

  overflow-wrap: break-word;
}

h1,
h2 {
  font-family: $ff-title;
}

h1 {
  font-size: clamp(1.75rem, 2.5vw, 2.5rem); /* Large heading */
  line-height: 140%;
}

h2 {
  font-size: clamp(1.5rem, 2vw, 2rem); /* Medium heading */
}

h3 {
  font-size: clamp(1.125rem, 1.5vw, 1.5rem); /* Small heading */
}

h4 {
  font-size: clamp(1rem, 2vw, 2rem); /* Extra small heading */
}

h5 {
  font-size: clamp(1rem, 1.25vw, 1.25rem); /* Tiny heading */
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: $text-sm;
}

a {
  text-decoration: none;
  color: $cc-text-blue;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

hr {
  border-top: 1px solid $cc-primary-200;
}

.custom-container {
  padding-top: 5rem;
  padding-bottom: 5rem;

  // border: 1px solid red;
  margin: 0 auto;
}

@media screen and (min-width: $breakpoint-tablet-min) {
  .container {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

#projects,
#faq {
  width: 90%;
  margin: 0 auto;
}

// option for hero on landing page
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  background: linear-gradient(
    45deg,
    #a2f1c2,
    #4e3de8,
    #dd43ec,
    #27dbb1,
    #d3ff41,
    #6c11eb
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
