#intro-slider {
  background: rgba($cc-primary-600, 0.9);

  z-index: 200;
  opacity: 0.7;
  transition: $transition;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  h3 {
    color: $cc-white;
    opacity: 1;
  }
}
