.intro-container {
  padding: max(7rem, 10vh) clamp(4rem, 12vw, 18rem) 0;
  // padding: 0 clamp(4rem, 12vw, 18rem) 0;
  display: grid;
  place-items: center;
  text-align: left;
  min-height: 100vh;
  max-height: 1920px;

  h5 {
    font-size: clamp(2.5rem, 5vw, 8rem);
    line-height: 140%;
    text-transform: none;

    color: $cc-primary-500;
  }

  h1::selection,
  div::selection {
    background-color: $cc-primary-600;
    color: $cc-secondary-300;
  }
}

.reveal-content {
  color: $cc-primary-400;
  transform: translateX(-40px);
  opacity: 0;
  transition: $transition;
}

#home-about {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 100vh;
  min-height: 100svh;
  width: 100vw;
  width: 100svw;
  background-color: $cc-primary-600;
  color: $cc-primary-100;
}

@media screen and (max-width: $breakpoint-mobile-max) {
  .intro-container {
    width: 90%;
    margin: 0 auto;
    padding: 20vh 0 5vh;
  }
}
