.intro-container {
  padding: 2rem clamp(4rem, 12vw, 20rem) 0;
  display: grid;
  place-items: center;
  text-align: left;
  height: 100vh;
  max-height: 1920px;

  h1 {
    font-size: clamp(2.5rem, 5vw, 8rem);
    line-height: 140%;
    text-transform: none;

    color: $cc-primary-500;
  }

  h1::selection,
  div::selection {
    background-color: $cc-primary-600;
    color: $cc-secondary-300;
  }
}

@media screen and (max-width: $breakpoint-mobile-max) {
  .intro-container {
    width: 90%;
    margin: 0 auto;
    padding: 20vh 0 5vh;
  }
}
