#projects {
  width: 90%;
  margin: 0 auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.work-article {
  border: $border-basic;
  border-radius: $border-radius-mobile;
  overflow: hidden;
  width: 100%;
  max-width: 25rem;
  span,
  p {
    font-size: $text-sm;
  }
}
