/* DARK MODE */
$dark-mode-bg-color: #333;
$dark-mode-text-color: #f0f0f0;
$dark-mode-bg-secondary-color: #3f3f3f;
$dark-mode-text-secondary-color: $grey-300;

.dark-theme {
  $cc-text: $dark-mode-text-color;
  $cc-background: $dark-mode-bg-color;
  $cc-text-secondary: $dark-mode-text-secondary-color;
  $ccbackground-secondary: $dark-mode-bg-secondary-color;
}
