#hero {
  display: grid;
  place-items: end;
  padding-bottom: min(18vh);

  .hero-title {
    text-align: left;
    width: 92vw;
    margin: 0 auto;

    h5 {
      color: $cc-sand-600;
      font-size: clamp(2.375rem, 5vw, 8rem);
      line-height: 120%;
      text-transform: none;
      max-width: max(68rem, 60vw);
    }

    p {
      @extend .poppins-regular;

      margin-top: 1rem;
      color: $cc-sand-800;
      font-size: clamp(1.25rem, 1.75vw, 2rem);
      line-height: 180%;
      max-width: max(68rem, 60vw);
      opacity: 1;
    }
  }
}

.about {
  background-color: $cc-background;
  //   transform: scaleX(0.95);
  //   transition: $transition;
}
