.project_title {
  &--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    width: 100vw;
    width: 100svw;
    margin: 0 auto;
    // z-index: 100;
  }
  &--container_line {
    &--inner {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100vh;
    }
    position: sticky;

    height: 20vh;
    margin: 0 auto;
  }

  & {
    font-size: 10rem;
    @extend .dt-black;

    text-shadow: 2px 2px rgba($cc-primary-600, 0.05);

    // text-transform: uppercase;
    position: sticky;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);

    z-index: 5;
    margin: 0;
    color: white;
  }

  &--line {
    border-right: 1px solid $cc-primary-300;
  }
  &--img {
    width: 100%;
    // height: 100%;
    // position: relative;
    // object-fit: cover;
    // z-index: 1;

    // width: 100%;
    // height: 700px;
    position: relative;
    background-size: cover;
    z-index: -1;

    background-repeat: no-repeat;
    background-position: center;
    background-color: $cc-primary-900;
    background-blend-mode: luminosity;

    &:nth-of-type(1) {
      background-image: url('../project-title-img/ProjectTitleImg-5.webp');
    }
    &:nth-of-type(2) {
      background-image: url('../project-title-img/ProjectTitleImg-1.webp');
    }
    &:nth-of-type(3) {
      background-image: url('../project-title-img/ProjectTitleImg-7.webp');
    }
    &:nth-of-type(4) {
      background-image: url('../project-title-img/ProjectTitleImg-3.webp');
    }
    &:nth-of-type(5) {
      background-image: url('../project-title-img/ProjectTitleImg-4.webp');
    }
    &:nth-of-type(6) {
      background-image: url('../project-title-img/ProjectTitleImg-8.webp');
    }
    &:nth-of-type(7) {
      background-image: url('../project-title-img/ProjectTitleImg.webp');
    }
    &:nth-of-type(8) {
      background-image: url('../project-title-img/ProjectTitleImg-6.webp');
    }
    &:nth-of-type(9) {
      background-image: url('../project-title-img/ProjectTitleImg-2.webp');
    }

    &:before {
      content: '';
      position: absolute;
      height: 100vh;
      width: 100%;
      z-index: 4;
      top: 0;
      left: 0;
      border-right: 1px solid $cc-primary-300;
    }
  }
}

#project-gallery {
  position: relative;
  z-index: 2;
}

.gallery {
  height: 200vh;
}

@media screen and (max-width: $breakpoint-mobile-max) {
  .project_title {
    &--container {
      grid-template-columns: repeat(2, 1fr);
    }
    &--container_line {
      &--inner {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    & {
      font-size: 5rem;
    }
    &--img {
      width: 1/2vw;
      height: 1/2vw;
    }
  }
}
