.btn {
  &,
  &:visited,
  &:link {
    display: inline;
    padding: 0.45rem 0.9rem;

    @extend .poppins-regular;
    line-height: 160%;
    font-size: $text-sm;
    text-transform: capitalize;

    transition: $transition;
    cursor: pointer;
  }

  &-primary {
    border-radius: $border-radius-btn-mobile;

    background: $cc-primary-600;
    color: $cc-text-mode;

    &:hover {
      background: $cc-primary-800;
    }
  }

  &-secondary {
    border-radius: $border-radius-btn-mobile;

    border: $border-basic;
    color: $cc-primary-400;

    &:hover {
      background: $cc-primary-50;
    }
  }

  &-gana {
    border-radius: $border-radius-btn-mobile;
    border: 1px solid rgba(#ff5757, 0.4);

    color: #ff5757;

    &:hover {
      background: rgba(#ff5757, 0.05);
    }
  }
}

button:disabled {
  cursor: wait;
}
