@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-area-hero {
  grid-area: 1 / 1 / 2 / 2;
}
.clip-path-hero {
  clip-path: circle(0% at 50% 50%);
}

/* HERO GRID SECTION */
/* GridLocalTime */
.time-subtitle {
  font-size: clamp(0.825rem, 1vw, 1.125rem);
  line-height: 1;
}
.time-main {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  line-height: 1;
}
.local-container-day {
  background: #f2ebe4;
}
.local-container-night {
  background: #32353d;
}

.local-circle-day {
  background: radial-gradient(50% 50% at 50% 50%, #f59758 0%, #f3e0cd 100%);
  filter: drop-shadow(1px 4px 8px rgba(244, 171, 121, 0.1))
    drop-shadow(2px 14px 15px rgba(244, 171, 121, 0.09))
    drop-shadow(5px 33px 20px rgba(244, 171, 121, 0.05))
    drop-shadow(9px 58px 23px rgba(244, 171, 121, 0.01))
    drop-shadow(14px 91px 26px rgba(244, 171, 121, 0));

  @apply text-white;
}

.local-circle-night {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #b3b5b6 0%,
    #f1f1f4 90%,
    #fff 100%
  );
  filter: drop-shadow(1px 5px 10px rgba(220, 221, 222, 0.25))
    drop-shadow(5px 18px 19px rgba(220, 221, 222, 0.21))
    drop-shadow(12px 41px 26px rgba(220, 221, 222, 0.13))
    drop-shadow(22px 73px 30px rgba(220, 221, 222, 0.04))
    drop-shadow(34px 114px 33px rgba(220, 221, 222, 0));

  @apply text-neutral-900;
}

/* GridNarae */
.flip-card-inner {
  transform-style: preserve-3d;
}
.grid-narae-wrapper {
  -webkit-mask-image: url(/hompage/narae-jang.png);
  mask-image: url(/hompage/narae-jang.png);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/* HIDDEN ELEMENT */
#g-hero-hidden-element {
  perspective: 600px;
}

#hero-hidden-element-wrapper {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 1px);
}

/* SWIPER */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  opacity: 0;
  @apply transition-all;
}

.mySwiper:hover .swiper-button-prev,
.mySwiper:hover .swiper-button-next {
  opacity: 1;
}

/* Certifications */
#certification-btn::after {
  content: '';
  position: absolute;
  bottom: -50%;
  left: 0;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 10;
}

#certification-btn:hover::after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

#certification-btn:hover span:last-child {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
}

.gradient-word-generalist {
  background: linear-gradient(90deg, #97b3ff, #6ec3f4, #99e6ee, #b9beff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Detail pages */
.detail-section-first {
  @apply rounded-2xl overflow-hidden mt-4 md:mt-8;
}

.detail-section-middle {
  @apply my-4 md:my-8 px-[4%] py-14 md:py-14 bg-neutral-50 rounded-2xl flex flex-col gap-8;
}

.detail-section-middle-margin {
  @apply my-4 md:my-8;
}
.detail-section-middle-image {
  @apply rounded-2xl overflow-hidden my-4 md:my-8;
}

.detail-title-container {
  @apply flex flex-col gap-4;
}

.detail-title {
  @apply font-title text-2xl text-neutral-800 w-[85%] mx-auto md:w-full;
}

.detail-sub-title {
  @apply font-title text-xl text-neutral-800;
}
.detail-description {
  @apply text-sm text-neutral-400;
}

.detail-category-container {
  @apply flex flex-row gap-2 justify-center items-center;
}

.detail-category-pill {
  @apply rounded-full py-1 px-2 md:py-2 md:px-4 bg-neutral-200/75 text-neutral-500/85 text-xs md:text-sm capitalize transition-all;
}

.detail-content-container {
  @apply text-neutral-500 leading-relaxed flex flex-col gap-3  max-w-5xl mx-auto;
}

/* 404 */
.glitch {
  color: black;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(23px, 9999px, 58px, 0);
  }
  5% {
    clip: rect(69px, 9999px, 26px, 0);
  }
  10% {
    clip: rect(58px, 9999px, 75px, 0);
  }
  15% {
    clip: rect(35px, 9999px, 46px, 0);
  }
  20% {
    clip: rect(75px, 9999px, 12px, 0);
  }
  25% {
    clip: rect(18px, 9999px, 67px, 0);
  }
  30% {
    clip: rect(66px, 9999px, 41px, 0);
  }
  35% {
    clip: rect(11px, 9999px, 38px, 0);
  }
  40% {
    clip: rect(29px, 9999px, 77px, 0);
  }
  45% {
    clip: rect(40px, 9999px, 69px, 0);
  }
  50% {
    clip: rect(38px, 9999px, 28px, 0);
  }
  55% {
    clip: rect(73px, 9999px, 53px, 0);
  }
  60% {
    clip: rect(26px, 9999px, 61px, 0);
  }
  65% {
    clip: rect(59px, 9999px, 44px, 0);
  }
  70% {
    clip: rect(13px, 9999px, 70px, 0);
  }
  75% {
    clip: rect(37px, 9999px, 12px, 0);
  }
  80% {
    clip: rect(56px, 9999px, 32px, 0);
  }
  85% {
    clip: rect(21px, 9999px, 40px, 0);
  }
  90% {
    clip: rect(49px, 9999px, 72px, 0);
  }
  95% {
    clip: rect(17px, 9999px, 63px, 0);
  }
  100% {
    clip: rect(34px, 9999px, 51px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #0a0a0a;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 5s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(31px, 9999px, 74px, 0);
  }
  5% {
    clip: rect(15px, 9999px, 40px, 0);
  }
  10% {
    clip: rect(45px, 9999px, 29px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 12px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 54px, 0);
  }
  25% {
    clip: rect(39px, 9999px, 73px, 0);
  }
  30% {
    clip: rect(55px, 9999px, 19px, 0);
  }
  35% {
    clip: rect(42px, 9999px, 63px, 0);
  }
  40% {
    clip: rect(68px, 9999px, 11px, 0);
  }
  45% {
    clip: rect(27px, 9999px, 38px, 0);
  }
  50% {
    clip: rect(53px, 9999px, 47px, 0);
  }
  55% {
    clip: rect(24px, 9999px, 65px, 0);
  }
  60% {
    clip: rect(50px, 9999px, 30px, 0);
  }
  65% {
    clip: rect(16px, 9999px, 56px, 0);
  }
  70% {
    clip: rect(64px, 9999px, 20px, 0);
  }
  75% {
    clip: rect(11px, 9999px, 48px, 0);
  }
  80% {
    clip: rect(37px, 9999px, 55px, 0);
  }
  85% {
    clip: rect(72px, 9999px, 33px, 0);
  }
  90% {
    clip: rect(19px, 9999px, 59px, 0);
  }
  95% {
    clip: rect(43px, 9999px, 26px, 0);
  }
  100% {
    clip: rect(65px, 9999px, 13px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #0a0a0a;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 5s infinite linear alternate-reverse;
}

/* hero scroll down animation */
.scroll-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.mouse {
  width: 28px;
  height: 50px;
  border: 2px solid #a3a3a3;
  margin: 0 auto;
  border-radius: 30px;
}

.mouse-wheel {
  overflow: hidden;
  margin-top: 5px;
}

.mouse-wheel span {
  display: block;
  margin: 5px auto;
  width: 5px;
  height: 5px;
}

.mouse-wheel span.wheel {
  border: 2px solid #a3a3a3;
  border-radius: 5px;
  width: 0;
}

.mouse-wheel span.arrow {
  border-bottom: 2px solid #a3a3a3;
  border-right: 2px solid #a3a3a3;
  transform: rotate(45deg);
  animation: scrollDown 1.7s infinite ease-in-out;
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    transform: translateY(0) rotate(45deg);
  }
  50% {
    opacity: 0;
    transform: translateY(5px) rotate(45deg);
  }
  75% {
    opacity: 0;
    transform: translateY(0) rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(45deg);
  }
}

@layer base {
  html {
    font-family: 'Poppins', ui-sans-serif, system-ui, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji', sans-serif;
    font-size: 1rem;

    @apply text-neutral-500;
  }
}
